.footer-container {
    max-width: 1110px;
    min-height: 23px;
    padding-top: 6rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.foot-nav {
    display: flex;
}

.foot-soc {
    display: flex;
}
