h1 {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: #111111;
}

h2 {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #111111;
}

p {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  opacity: 80%;
  color: #111111;
}

a {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.35px;
  color: #111111;
}

#shooting {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #4A4FF2;
}

.side-txt {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  font-style: italic;
  color: #111111;
}

#span-blue {
  color: #4A4FF2;
}

.awards-title {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #111111;
}

.awards-mini-title {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
}

.awards-plain {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.line-height {
  line-height: 26px;
}

table {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111111;
}

.opac {
  opacity: 50%;
}

.top-container {
  max-width: 1110px;
  min-height: 23px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  padding-left: 30px;
}

a:hover {
  color: blue;
}

.main-container {
  max-width: 1110px;
  padding-top: 40px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head {
  max-width: 475px;
  min-height: 174px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.txt {
  max-width: 445px;
  min-height: 56px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* FORM */
.form {
  max-width: 475px;
  min-height: 291px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Mulish", sans-serif;
  /* form doesnt implement these font values, except for color. it inherits the font.. check why */
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #979797;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 30px 90px 30px 90px;
}

button {
  width: 125px;
  height: 50px;
  background-color: #4A4FF2;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: white;
}

button:hover {
  background-color: yellowgreen;
}

/* IMAGE */
.img {
  max-width: 1110px;
  min-height: 570px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-container {
  max-width: 1110px;
  min-height: 23px;
  padding-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  padding-left: 30px;
}

body {
  margin: 3rem 3rem;
  padding: 3rem 3rem;
}